body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333;
  color: white;
}

header{
  margin: 50px 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
   float: left;
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red;
  }

  header{
    margin: 50px 70px;
  }


.welcome{
   
  flex-direction: column;
  margin: auto;
margin-top: 100px;
margin-right: 203px;
text-align: center;
}



h1{
  font-size: 40px;
}

.desc{
  color: red;
}

  main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .name{
    display: flex;
    flex-direction: column;
}

.names{
   width: 25vw;
   margin-bottom: 10px;
   margin-top: 15px;
   height: 50px;
   border: 1px solid;
   border-radius: 5px;
   padding-left: 10px;
}

.submit{
    width: 25vw;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    background-color: red;
}

textarea{
    height: 15rem;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 20px;
}

@media only screen and (max-width: 900px) {

  header{
  margin: 30px 0px;
  }

  .welcome{
    margin: auto;
  margin-top: 100px;
  }

main{
  display: block;
  margin: 20px 10px;
}

  .names{
    width: 100%;
  }

  .submit{
    width: 100%;
  }
li a{
  font-size: 10px;
}
  
}

