body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../img/adrien-olichon-_GH9LwhlSO4-unsplash.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


.welcome{
   
    flex-direction: column;
    margin: auto;
margin-top: 150px;
margin-right: 203px;
text-align: center;
}



h1{
    font-size: 40px;
}

.desc{
    color: red;
}
  

 
 main{
    display: flex;
    justify-content: center;
    margin-top: 50px;
 
 }
 
 .name{
     display: flex;
     flex-direction: column;
 }

 .names{
    width: 25vw;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 10px;
}

.submit{
    width: 25vw;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    background-color: red;
}

footer{
    display: flex;
    justify-content: center;
}

.redirect a{
    color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: red;
  }